<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" th:href="@{/images/fav.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/user/findIdResult.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아이디 찾기 결과</title>
</head>
<body>
<div id="wrapper">
    <th:block th:include ="/include/header.html"/>
    <main>
        <div class="container">
            <form>
                <section>

                    <div class="top_txt">
                        <span>아이디 찾기 결과</span>
                    </div>

                    <!-- 사용자 정보가 있을 때 -->
                    <div th:if="${user != null}">
                        <table>
                            <tr>
                                <td>이름</td>
                                <td>
                                    <p><span th:text="${user.name}"></span></p>
                                </td>
                            </tr>
                            <tr>
                                <td>아이디</td>
                                <td>
                                    <p><span th:text="${user.uid}"></span></p>
                                </td>
                            </tr>
                            <tr>
                                <td>이메일</td>
                                <td>
                                    <p><span th:text="${user.email}"></span></p>
                                </td>
                            </tr>
                            <tr>
                                <td>가입일</td>
                                <td>
                                    <p><span th:text="${user.createAt}"></span></p>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <!-- 사용자 정보가 없을 때 -->
                    <div th:if="${user == null}">
                        <div class="note" id="note">
                            고객님의 정보와 일치하는 아이디가 없습니다.
                        </div>
                    </div>
                </section>

                <!-- 버튼들 -->
                <div class="btns">
                    <!-- 사용자 정보가 없을 때 -->
                    <div th:if="${user == null}" class="note">
                        <a th:href="@{/user/findId}" class="btn1">아이디찾기</a>
                        <a th:href="@{/user/terms}" class="btn2">회원가입</a>
                    </div>

                    <!-- 사용자 정보가 있을 때 -->
                    <div th:if="${user != null}">
                        <a th:href="@{/user/login}" class="btn3 btn_login">로그인</a>
                        <a th:href="@{/user/findPass}" class="btn4 btn_pw">비밀번호찾기</a>
                    </div>
                </div>
            </form>
        </div>
    </main>
    <th:block th:insert ="~{/include/footer.html}"/>
</div><!--wrapper end-->

</body>
</html>
